* {
    padding: 0;
    margin: 0;
    color: var(--sec-color);
    box-sizing: border-box;
    transition: all .5s ease;
}

:root {
    --light-red: white !important;
    --light-red: black;
    --light-green: rgb(70, 142, 145);
    --light-blue: rgb(67, 126, 168);
    --app-width: 600px;
    --app-height: 600px;
    --back-color: var(--light-red) !important;
    --sec-color: black;
    --trans-white: #00000036;
}
.sec-2{

}
.sec-3{
    
}


body {
    background-color: var(--back-color);
    margin-top: 0;
    transition: background-color 1.0s ease-in-out;
}

.pomodoro-container {
    display: flex;
    justify-content: center;
    margin-top: 0;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-content: center;
}

.textbook-mode {
    display: none;
    background-color: var(--trans-white);
    border-radius: 25px;
    padding: 1em;
    font-size: 25px;
    font-weight: bold;
    width: 100%;
}

.textbook-mode>div>div>input[type='number'], .estimated-time>div ,.elapsed-time>div{
    background-color: #FFFFFF00;
    border: var(--trans-white) solid 2px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 6px;
    width: 70px;
    text-align:center;
}

.textbook-mode>.values {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-end;
    justify-content: center;
    align-items: center;
}
.textbook-mode>.values >*{
    width: 250px;
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}
.textbook-mode>.values *{
    text-align: center;
}

.pomodoro-app {
    display: grid;
    background-color: var(--trans-white);
    border-radius: 25px;
    margin: 2em;
    width: 100vw;
}

.pomodoro-nav {
    display: flex;
    justify-content: space-evenly;
    padding: 12px 0;
}

.nav-button {
    background-color: #FFFFFF00;
    border: var(--trans-white) solid 3px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 13px;
    margin-top: 20px;
    width: 150px;
    padding: 10px 0;
}

.selected {
    color: var(--back-color);
    background-color: var(--sec-color);
}

hr.full-length {
    margin: 10px 0;
    border: white solid 1px;
    height: 0;
}

.pomodoro-timer {
    font-family: 'ArialRounded', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    display: flex;
    justify-content: center;
}

.timer-div {
    font-size: 120px;
    font-weight: bold;
    padding: 10px 0;
    transition: all .3s;
}

hr.half-length {
    width: 50%;
    margin: 10px auto;
    border: white solid 1px;
    height: 0;
}

.toggle-start-div {
    margin: 20px auto;
    display: flex;
}

.toggle-start-button,.toggle-minimal-button{
    background-color: var(--sec-color);
    color: var(
    --back-color);
    border: none;
    width: 130px;
    font-size: 30px;
    padding: 10px 6px;
    font-weight: bold;
    border-radius: 10px;
    margin: 0 auto;
}

.pomodoro-settings {
    display: grid;
    width: 100%;
    background-color: var(--trans-white);
    grid-template-columns: min-content min-content;
    grid-gap: 25px 10px;
    border-radius: 25px;
    text-align: center;
    padding: 1em;
}

.pomodoro-settings > * {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.minimal-mode {
    display: none;
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    text-align: center;
}

.current-Page {
    font-size: 100px;
    font-weight: bold;
    font-family: fantasy;
}

.pomodoro-settings .header {
    grid-column: 1 / 3;
    margin: 0 auto;
    padding: 20px 0 10px 0;
    font-size: 35px;
    font-weight: 900;
}

#settings-icon {
    fill: var(--back-color);
    vertical-align: middle;
}

.property-div {
    width: 177px;
}

.property {
    background-color: #FFFFFF00;
    font-size: 25px;
    font-weight: bold;
    border-radius: 4px;
    margin-top: 20px;
    width: 100%;
}

.value-div {
    grid-column: 2;
    margin-left: auto;
    color: var(--sec-color);
}

.value {
    background-color: #FFFFFF00;
    border: var(--trans-white) solid 2px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 6px;
    width: 55px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000036;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--back-color);
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {
    .sec-3 {
        width: 90vw !important;
        display:flex;
        justify-content:space-around;
    }

    .sec-4 {
        width: 90vw !important;
        margin-top: 2em;
    }

    :root {
        --back-color: black !important;
        --sec-color: white;
        --trans-white: #FFFFFF60;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    --back-color: black !important;
    --sec-color: white;
    --trans-white: #FFFFFF60;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    ...
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    ...
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    ...
}